/*--自我介绍卡片顶部空格--*/
.firstLine{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
/*---button颜色--*/
.btn-primary{
  background-color: #767980;
  border: 1px solid #767980;
}
.btn-primary:hover{
  background-color: #4c4e53;
  border: 1px solid #4c4e53;
}
body{
 margin: 2rem;
}
.card{
  margin-bottom: 2rem;
}
.picture{
  margin: 1rem;
}
